body.pushable>.pusher{
	background-color: #f4f4f4;
	border-collapse: collapse;
}

#topnav{
	height: 75px;
	width: 100%;
	background-color: #f4f4f4;
	line-height: 1 !important;
}

.nopad{
	padding: 0 !important;
}

.nobox{
	box-shadow: none !important;
}


@font-face {
	font-family: 'goodtime';
	src: url(../assets/good_times_rg.ttf);
}

.goodtimes{
	font-family: goodtime !important;
}

.breakit{
	width:100px;
	content: "\A" !important;
	white-space: pre !important;
}


.smallfont{
	font-size: 12px;
}

.hundredinwidth{
	width: 105px !important;
	float: right;
}

.ui.dropdown .menu>.item {
	font-size: 12px;	
}

.top-nav-group {
	text-align: center !important;
}

.top-nav-group a {
	margin: 0px 10px 0px 10px;

}

.top-nav-sub-group{
	margin-top: 25px;
}

.top-tel-sub-group{
	margin-top: 17px;
}

.tel-space{
	float: left;
	text-align: left;
	width: 160px;
	padding-top: 5px;
}

.some-margin{
	margin-top:25px;
}

.logo img{
	position: absolute;
	top:0px;
	background-size: 65px;
}

.alpha{
	margin-top: 20px;
	margin-left:65px;
	font-size: 25px;
	color: #0061a5;
}

#line2{
	float: left;
	width:100%;
	margin-top: 4px;
	height: 10px;
	background-color: #0061a5;
}
#line1{
	width:100%;
	margin-top: 16px;
	height: 10px;
	background-color: #0061a5;
}
#line0{
	float: right;
	width:85%;
	margin-top: 10px;
	height: 10px;
	background-color: #0061a5;
}

@media only screen and (min-width: 1200px){
	.ui.container {
		width: 92%;
	}
	.ui.selection.dropdown.lang{
		min-width: 130px;
		padding-right: 5px; 
	}
	.ui.selection.dropdown.lang .farright{
		right:0;
	}
}